/* Media query for screens with minimum width of 768px (tablets and above) */
@media only screen and (max-width: 768px) {
  /* Adjustments for landing page */
  .landing-page {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  .img img {
      width: 100%;
      height: auto;
      border-radius: 0;
  }

  .tb {
      display: block;
      text-align: center;
      padding: 10px;
  }

  .ft {
      display: none;
  }

  /* About me section adjustments */
  section.about-me {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  section.about-me>header {
      justify-content: center;
      font-size: 4rem;
      margin-top: 20px;
  }

  section.about-me>.img1 {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
  }

  section.about-me>.text {
      margin-top: 20px;
      font-size: 1.2rem; /* Decreased font size */
      text-align: center;
  }

  /* Ervaring section adjustments */
  section.ervaring {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  section.ervaring>header {
      justify-content: center;
      font-size: 4rem;
      margin-top: 20px;
  }

  section.ervaring>.img1,
  section.ervaring>.img-2 {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
  }

  section.ervaring>.text-1,
  section.ervaring>.text-2 {
      margin-top: 20px;
      font-size: 1rem; /* Decreased font size */
      text-align: center;
  }

  /* Ervaring 2 section adjustments */
  section.ervaring-2 {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  section.ervaring-2>.img1,
  section.ervaring-2>.img-2 {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
  }

  section.ervaring-2>.text-2,
  section.ervaring-2>.text-3 {
      margin-top: 20px;
      font-size: 1rem; /* Decreased font size */
      text-align: center;
  }

  /* Ervaring 3 section adjustments */
  section.ervaring-3 {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  section.ervaring-3>.img1 {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
  }

  section.ervaring-3>.text-3 {
      margin-top: 20px;
      font-size: 1rem; /* Decreased font size */
      text-align: center;
  }

  /* Contact section adjustments */
  section.contact {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  section.contact>header {
      justify-content: center;
      font-size: 4rem;
      margin-top: 20px;
  }

  section.contact>.img1 {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
  }

  section.contact>.text-contact {
      margin-top: 20px;
      font-size: 1.2rem; /* Decreased font size */
      text-align: center;
  }

  .wrapper {
      flex-direction: column;
      gap: 20px;
  }

  .contact-from {
      width: 90%;
      margin: 0 auto;
  }

  .contact-from form {
      width: 100%;
  }

  .location {
      width: 80%;
      margin: 0 auto;
  }

  iframe {
      width: 100%;
      height: 290px;
  }

  /* Footer adjustments */
  footer {
      height: auto;
      padding: 20px;
  }

  footer img {
      width: 100px;
  }

  footer div {
      text-align: center;
  }
}
